body {
    background: #000000;
    font-family: 'Montserrat', sans-serif;;
}
header {
    background: #2e2e2e;
    padding: 20px 0;
}
.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}
.lista-navegacao li{
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 5px 3px 1px black;
}
.lista-navegacao a {
    color: white;
    text-decoration: none;
    
}
nav {
position: absolute;
	top: 70px;
	right: 0;
}
header img{
    border-radius: 50%;
    width: 5%;
}